@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .custom-dropdown{
        @apply inline-block
        absolute nav-spacing border-t-2 border-[#ffb300]
        list-none bg-white rounded divide-y shadow 
    }
    .dropdown-link{
        @apply block py-2 px-4  
        text-[#7b567d] hover:text-[#ffb300] text-base
    }
    .nav-link{
        @apply py-4 px-2 text-[#7b567d] text-base
         hover:text-[#ffb300] transition duration-300
    }
    .nav-button{
        @apply rounded-lg px-4 py-2 bg-white text-[#7b567d] nav-border
        text-base hover:bg-[#ffb300] transition duration-300
    }
    .banner-text{
        @apply text-3xl px-4 py-2 some-text font-semibold
    }
    .b-text{
        @apply xs-font sm:sm-font md:text-3xl md:custom-text py-2 custom-text font-semibold
    }
    .footer-title{
        @apply text-xl font-semibold mb-2 py-4 mt-6 text-white
    }
}

@layer utilities {
    .nav-spacing{
        top: 4.5rem;
        left: 23rem;
    }
    html{
        font-family: "Poppins", sans-serif;
    }
    .nav-border{
        border-radius: 25px; border: 2px solid #ffb300; z-index: 1;
    }
    .some-text{
        line-height: 3rem;
        margin-left: 1rem;
        color: #5b465a;
    }
    .custom-text{
        line-height: 3rem;
        color: #5b465a;
    }
    .xs-font{
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
    .sm-font{
        font-size: 1.7rem;
        line-height: 2.8rem;
    }
    a img {
        display: inline-block;
        margin-right: 1rem;
        width: 2.5rem;
    }
    .pr-108{
        padding-right: 26rem;
    }
}
